<launch>

	<machine
		name="upper_pi"
		address="upper_pi"
		user="upperpi"
		timeout="10"
		env-loader="~/upper_ws/devel/remote_env_loader.sh"
	/>

	<machine

		name="lower_pi"
		address="lower_pi"
		user="lowerpi"
		timeout="10"
		env-loader="~/lower_ws/devel/remote_env_loader.sh"
	/>

	<node
		machine="upper_pi"
		name="Head_Servo_Driver"
		pkg="mcgreen_control"
		type="head_servo_driver.py"
	/>

	<node
		machine="upper_pi"
		name="OLED_Screen_Controller"
		pkg="mcgreen_control"
		type="oled_screen_controller.py"
	/>

	<node name="Remote_Sensors_Processor" pkg="mcgreen_control" respawn="true" type="remote_sensors_processor.py" />

	<node name="Movement_Output" pkg="mcgreen_control" respawn="true" type="movement_output.py" />

	<node name="Mode_Select" pkg="mcgreen_control" respawn="true" type="mode_select.py">

		<param name="speed_multiplier" value="2"/>
		<param name="joystick_threshold" value="2"/>

	</node>

	<group ns="Sensors">

		<param name="rate" value="100" type="int"/>

		<param name="default_ultra" value="80" type="int"/>

		<param name="threshold_ultra" value="40" type="int" />

		<node name="Right_Arm_Sensor" pkg="mcgreen_control" respawn="true" type="arm_sensor.py">
			<param name="topic" value="/right_arm_sensor"/>
		</node>

		<node name="Left_Arm_Sensor" pkg="mcgreen_control" respawn="true" type="arm_sensor.py">
			<param name="topic" value="/left_arm_sensor"/>
		</node>

		<node
			machine="lower_pi"
			name="Remote_Control_Reciever"
			pkg="mcgreen_control"
			type="remote_control_reciever.py"
		/>
	</group>


		<node name="Right_Linear_Actuator" pkg="mcgreen_control" respawn="true" type="linear_actuator_driver.py">
			<param name="side" value="right"/>
		</node>

		<node name="Left_Linear_Actuator" pkg="mcgreen_control" respawn="true" type="linear_actuator_driver.py">
			<param name="side" value="left"/>
		</node>


</launch>
